@font-face {
    font-family: 'SBL Hebrew';
    src: local('SBL Hebrew'), local('SBLHebrew'),
        url('SBLHebrew.woff2') format('woff2'),
        url('SBLHebrew.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

/*body {
    margin-top: 0;
}*/
.word-span {
    margin: 0 4px;
    display: inline-block;
}

#vizcontainer {
    overflow-y: scroll;
    padding: 2px;
    margin-right: 5px;
}

#searchSeqContainer {
    width: calc(100% - 300px);
    height: 5rem;
    left: 40px;
    top: 3rem;
    position: absolute;
    text-align: center;
    font-family: "SBL Hebrew", serif;
}

#searchSeq {
    font-size: 5rem;
}

#occurrences {
    direction: ltr;
    font-size: 2rem;
}

#buttonContainer {
    padding-right: 20px;
}

#buttonContainer button {
    margin-right: 10px;
    margin-top: 10px;
}


svg {
    overflow: visible;
    margin-top: 8px;
    /*unicode-bidi: embed;*/
    font-family: sans-serif;
}

.node {
    cursor: pointer;
}

.node rect.outerbox {
    fill: #fff;
    stroke: #727272;
    stroke-width: 1px;
}

.node rect.histbar {
    fill: #a5a5a5;
}

.node.disabled rect.histbar {
    fill: #ccc;
}

.node text {
    stroke: none;
    fill: #000;
}

.node:hover text,
.node.disabled:hover text {
    stroke: none;
    fill: #3167F4;
}

.node.disabled text {
    fill: #777;
    opacity: 0.7;
}

.node text.tropchar {
    font-size: 0px;
    font-family: "SBL Hebrew";
}

.node text {
    font-size: 12px;
    direction: ltr;
}

.node text.name {
    font-family: "SBL Hebrew";
    font-size: 24px;
    direction: rtl;
}

.link {
    stroke-width: 2px;
    stroke: #333;
    fill: none;
}

.link.disabled {
    stroke: #eee;
}





#graphcontainer {
    margin: 2px;
    background-color: #f5f5f5;
}

#graphcontainer .bar {
    fill: #555;
    stroke: none;
}

#graphcontainer .bar:hover {
    fill: #999;
    cursor: pointer;
}

#graphcontainer .tick line {
    stroke: #000;
}

#graphcontainer .tick text {
    font-size: 13px;
}

#graphcontainer .domain {
    fill: none;
    stroke: #000;
}

#graphcontainer rect.mytooltip {
    fill: rgba(40, 40, 40, 0.75);
}

#graphcontainer .mytooltip text {
    fill: #fff;
    font-size: 13px;
}

#graphcontainer .mytooltip text.location {
    font-weight: bold;
}

.graphcontrolbox {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.graphcontrolhiddenbox {
    fill: none;
    stroke: #888;
    stroke-width: 2px;
}


/*#detailcontainer {
    text-align: center;
    position: absolute;
    top: 10%;
    width: 98%;
    height: 60%;
}*/

#detailoutercontainer {
    width: 60%;
    height: 60%;
    padding: 15px;

    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 30px;
}

/*#detailsclose {
    cursor: pointer;
    float: left;
}*/

.details {
    /*width: 100%;
    height: 100%;
    overflow-y: scroll;*/

    font-family: "SBL Hebrew";
    font-size: 24px;
    /*margin: auto;*/
}

#detailsModal .modal-title {
    /*direction: ltr;*/
    font-size: 22px;
    margin-right: 18px;
}

.modal {
    pointer-events: auto;
}

.details .pasuknum {
    font-size: 16px;
    /*font-weight: bold;*/
    padding-left: 12px;
    padding-top: 8px;
    text-align: left;
}

.details tr {
    vertical-align: top;
}

#detailsModal #currentSearch {
    font-family: "SBL Hebrew";
    font-size: 20px;
    margin-right: 18px;
}


#prefs {
    direction: ltr;
    /*background-color: #fff;
    border: 1px solid #000;
    padding: 20px;*/
}

#cog {
    position: fixed;
    direction: ltr;
    left: 25px;
    color: #a5a5a5;
}

#cog:hover {
    color: #555;
}

#explanation {
    text-align: center;
}

#explanation img {
    width: 400px;
}

.trop {
    font-family: "SBL Hebrew";
}

a.license:hover {
    text-decoration: none;
}


img.kofiimg {
    display: initial !important;
    vertical-align: middle;
    height: 13px !important;
    width: 20px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: none;
    margin-top: 0;
    margin-right: 5px !important;
    margin-left: 0 !important;
    margin-bottom: 3px !important;
    content: url('https://storage.ko-fi.com/cdn/cup-border.png')
}

.kofiimg:after {
    vertical-align: middle;
    height: 25px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    margin-top: 0;
    margin-right: 6px;
    margin-left: 0;
    margin-bottom: 4px !important;
    content: url('https://storage.ko-fi.com/cdn/whitelogo.svg')
}

.btn-container {
    display: inline-block !important;
    white-space: nowrap;
    min-width: 160px
}

span.kofitext {
    color: #fff !important;
    letter-spacing: -0.15px !important;
    vertical-align: middle;
    line-height: 23px !important;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
}

.kofitext a {
    color: #fff !important;
    text-decoration: none !important;
}

.kofitext a:hover {
    color: #fff !important;
    text-decoration: none
}

a.kofi-button {
    margin-right: 0.7rem;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    line-height: 26px !important;
    min-width: 135px;
    display: inline-block !important;
    background-color: #295de0b5;
    padding: 2px 8px !important;
    text-align: center !important;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    overflow-wrap: break-word;
    vertical-align: middle;
    border: 0 none #fff !important;
    font-family: 'Quicksand', Helvetica, Century Gothic, sans-serif !important;
    text-decoration: none;
    text-shadow: none;
    font-weight: 700 !important;
    font-size: 12px !important
}

a.kofi-button:visited {
    color: #fff !important;
    text-decoration: none !important
}

a.kofi-button:hover {
    opacity: .85;
    color: #f5f5f5 !important;
    text-decoration: none !important
}

a.kofi-button:active {
    color: #f5f5f5 !important;
    text-decoration: none !important
}

.kofitext img.kofiimg {
    height: 15px !important;
    width: 22px !important;
    display: initial;
}